{% extends 'base.html.twig' %}

{% block title %}{{ 'login.generic'|trans }}{% endblock %}

{% block body_content %}
    {% if error %}
        {# AuthenticationException error.message may contain sensitive informations. Never use it #}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <form action="{{ path('login') }}" method="post">
        <label for="username">Email:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}">

        <label for="password">{{ 'user.password.label'|trans }}</label>
        <input type="password" id="password" name="_password">

        <label>
            <input type="checkbox" name="_remember_me">
            {{ 'remember_me'|trans }}
        </label>

        <input type="hidden" name="_target_path" value="/">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <button type="submit">{{ 'login.generic'|trans }}</button>
    </form>
{% endblock %}
