{% extends 'base.html.twig' %}

{% block title %}{{ 'create.seed'|trans }}{% endblock %}

{% block body_content %}
    <h1>{{ 'create.seed'|trans }}</h1>

    {{ include('seed/_form.html.twig') }}

    <a href="{{ path('seed_index') }}">{{ 'back.list'|trans }}</a>
{% endblock %}
