{{ form_errors(form) }}

{{ form_start(form) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.locale) }}
    {{ form_row(form.googleAuthenticatorSecret) }}

    <button class="btn">{{ button_label|default('save'|trans) }}</button>
{{ form_end(form) }}
