{% extends 'base.html.twig' %}

{% block title %}{{ 'user.generic'|trans }}{% endblock %}

{% block body_content %}
    <h1>{{ 'user.generic'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('edit_user') }}">{{ 'edit.generic'|trans }}</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
